<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./forme.css">
    <link rel="stylesheet" href="./style.css">
    <title>LOS POLLOS</title>
</head>
<body>
    <header>
        <nav> 
          <div class="toggle">
              <span class="first"></span>
              <span class="middle"></span>
              <span class="last"></span>
          </div>
            <div class="navigation-bar">
                <ul>
                    <li class="active"><a href="/">Home<span class="underline"></span></a></li>
                    <li><a href="#">Menu<span class="underline"></span></a></li>
                    <li><a href="/">Reservations<span class="underline"></span></a></li>
                    <li><a href="#">Contact<span class="underline"></span></a></li>  
                </ul>
            </div>
        </nav>
        <div class="text">
            <h2>Welcome</h2><br>
            <h1>LOS POLLOS</h1><br>
        </div>  
    </header>
    <div class="ab">
        <form action="http://localhost:3000/" method="post">
            <label for="nom">NOM </label><input name="nom" id="nom" type="text"><br><br>
            <label for="prenom">PRENOME </label><input name="prenom" id="prenom" type="text"><br><br>
            <label for="TABLE">TABLE </label><input name="TABLE" id="TABLE" type="number"><br><br>
            <label for="email">EMAIL </label><input name="email" id="email" type="text"><br><br>
            <label for="date">DATE </label><input type="date" name="date" id="date"><br><br>
            <input id="submit" value="réserver" type="submit" >
            
        </form>
    </div>
    <script src="./script.js"></script>
</body>
</html>